/* Reset CSS */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, figure, caption, tbody, tfoot, thead, tr, th, td, header, footer, nav, section, main, aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  background-color: #eee;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  background-color: #ccc;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
}
